form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 3rem;
}

.edu-form {
    margin-bottom: 1.5rem;
}

.work-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 3rem;
}

label {
    display: flex;
    align-items: center;
    margin: .25rem;
}

label input {
    align-self: center;
    border: none;
    border-radius: 3px;
    padding: .25rem;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.454);
}

.form-submit {
    margin: 0 1rem 1rem 1rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.178);
    position: absolute;
    top: 0;
    transform: translate(250%, 0%);
}

.work-container {
    position: relative;
}

.work-container > .add-bullet-btn {
    position: absolute;
    background-color: aquamarine;
    top: 3.5rem;
    right: 4.5rem;
}


input {
    margin-left: 1rem;
}

textarea {
    margin: 0.25rem;
}

.hidden {
    display: none;
}

.bullet-div {

}

.add-section-btn {
    display: block;
    justify-self: center;
    margin-top: .75rem;
    background-color: antiquewhite;
}

.add-detail-btn {
    margin: 3px;
    padding: .3rem .5rem;
    font-size: .9rem;
    font-weight: 500;
}

.dlt-btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: .75rem;
    padding: 0;
    background-color: rgba(255, 0, 0, 0.24);
}

.para-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-section-btn {
    background-color: rgba(255, 0, 0, 0.437);
}

@media print {
    button {
        display: none;
        visibility: hidden;
    }

    .add-section-btn {
        display: none;
        visibility: hidden;
    }
}